{{!-- <form class="grid-container" > --}}
  <div class="grid-x grid-padding-x">
    <div class="small-12 medium 8">
      <label>Compost Name:</label>
      <input type="text" id="id" name="name" value="{{name}}">
    </div>
  </div>
  <br>
  <div class="grid-x grid-padding-x">
    <div class="small-12 medium 8">
        <label>Compost Description :</label>
      <textarea id="{{id}}" name ="description" value ="{{description}}" cols="30" rows="10">{{description}}
      </textarea>
    </div>
  </div>
  <br>
  <input style="display: none" name="id" value="{{id}}">
  <button class="button float-center" id="compost_edit_Btn">Post</button>
{{!-- </form> --}}
<script>
  $(function () {
    $("#compost_edit_Btn").on("click", function (event) {
      event.preventDefault();
      console.log("compost clicked")
      $.ajax({
        url: "/api/composts/{{id}}",
        type: "PUT",
        data: {
          name: $("[name=name]").val(),
          description: $("[name=description]").val()
        }
      }).then(result => {
        console.log(result)
        window.location.href = "/composts/{{id}}"
      })

    })
  });
  </script>