<div class="grid-x grid-padding">
    <div class="row grid-x small-12 large-6 large-offset-3 align-center align-middle">
        <div class="card small-12 medium 8">
            <!-- show garden name -->
            <label><strong>Compost Name:</strong></label>
            <div id="userInput" style="width:30%">
                <pre> {{name}}</pre>
            </div>
            <br>
            <label><strong>Description:</strong></label>
            <div id="userInput">
                <pre> {{description}}</pre>
            </div>
            <br>
            <a href="/map" class="button float-center" style="text-align:center;width:15%" id="userInput"><strong>Map View</strong></a>
            
                <!-- need to add eventlistener to pop up email -->
                {{#if deposit}}
                  <div class="lead">{{name}}</div> <ul><li><em>Is open for deposits. Come drop off your compostable materials!</em></li></ul>
                {{else}}
                  <div class="lead">{{name}}</div> <ul><li><em>Is not accepting deposits. Please check back later.</em></li></ul>
                {{/if}}

                {{#if withdraw}}
                  <div class="lead">{{name}}</div> <ul><li><em>Is open for withdrawals. Come pick up some tasty compost!</em></li></ul>
                {{else}}
                  <div class="lead">{{name}}</div> <ul><li><em>Is still working to create tasty compost. Please check back later.</em></li></ul>
                {{/if}}
            
        </div>
    </div>
</div>