<div class="grid-container">
    <div class="grid-x grid-padding-x">
        <div class="small-12 medium 8">
            <!-- show garden name -->
            <label>Patch Name :</label>
            <pre>{{name}}</pre>

        </div>
    </div>

    <br>

    <div class="grid-x grid-padding-x">
        <div class="small-12 medium 8">
            <label>Patch size :</label>
            <pre>{{length}} X {{width}}</pre>
        </div>
    </div>

    <br>

    <div class="grid-x grid-padding-x">
        <div class="small-12 medium 8">
            <label>Description :</label>
            <pre>{{description}}</pre>
        </div>
    </div>

<!-- need to add eventlistener to pop up email -->
    {{#if (isEqual PotentialGardenerId  id)}}
    {{else}}
        {{#if PotentialGardenerId}} 
        <a href="/email/{{id}}/{{PotentialGardenerId}}">
            <button class="button float-center">Email</button>
        </a>
        {{else}}
        <a href="/gardeners/signup">Sign up to connect with the owner of this garden!</a>
        {{/if}}
    {{/if}}
</div>