<div class="row">
    <div class="twelve columns text-center">
        <img src="https://placekitten.com/300/300" class="text-center">
    </div>
</div>
<div class="card text-center">
    <div class="card-section">
        <p class="username">User Name: {{username}}</p>
        <p class="email">Email: {{email}}</p>
        <p class="address">Address: {{address}}</p>
    </div>

    <div class="row">
        <div class="text-center">
            <a href="/api/gardens/{{id}}" class="success button" style="width: 10%">Share my Garden</a>
            <a href="/api/composts/{{id}}" class="warning button" style="width: 10%">Share my Compost</a>
            {{!-- <button class="warning button" style="width: 10%">Share my Compost</button> --}}
            <br>
            <button class="button edit-profile-button">Edit</button>
            <a href="/" class="button">Home</a>
        </div>
    </div>
</div>